************
/* CSS REMEDY */
/**************/

*, *::after, *::before {
  box-sizing:border-box;  
}

* {
	margin: 0;
	padding: 0;
} 


 button, summary, a {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#000;
	--color-wit:#fff;
	--color-starbucks:#006241;
	--color-starlightg:#00754a;
	--color-ligchtgreen:#d4e9e2;
	--color-housegreen:#1e3932;
	--color-warmneutraal:#f2f0eb;
	--color-coolneutraal:#f9f9f9;
	--color-tekst:#6c6c6c;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-text: #ff6f17;
		--color-wit: #000;
		--color-coolneutraal:#1e3932;
		--color-warmneutraal: #000;
		--color-tekst: #fff;
		--color-starlightg:#ff6f17;

	}
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

html.groot p{
	font-size: 1.5em;
}


body {
  color:var(--color-text);
  background-color:var(--color-coolneutraal);
  font-family: NotoSans,sans-serif;
}

footer {
	background-color: var(--color-wit);
	margin-top: 2em;
}

nav {
	background-color: var(--color-wit);
}

p {
	color:var(--color-tekst);
	font-size: 1.1em;
}

details {
	display: flex;
	flex-direction: column;
}

header nav button {
	display: grid;
	place-items: center;
	border-radius:50%;
	width: 4em;
	height: 4em;
	border: none;
	background: none;
}

header nav button span {
	grid-row-start:1;
    grid-column-start:1;
	width: 1.3em;
	height: .1em;
	background-color: var(--color-text);
	transition-duration:.5s;
}

header nav button span:nth-of-type(1) {
	transform:translateY(-.4em);
}

header nav button span:nth-of-type(3) {
	transform:translateY(.4em);
}

header nav button.iconchange span:nth-of-type(1) {
	transform:rotate(45deg) scalex(1.25);
}

header nav button.iconchange span:nth-of-type(2) {
	opacity:0;
}

header nav button.iconchange span:nth-of-type(3) {
	transform:rotate(-45deg) scalex(1.25);
}

header nav div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5em;
}

header nav div img {
	width: 5.3em;
	height: 3em;
}

header nav section {
	position:fixed;
	left:0;
	right:0;
	top:4em;
	bottom:0;
	transform:translatex(100%);
	transition: transform .3s;
	background-color: var(--color-wit);
}

header nav section.MenuOpen{
	transform:translatex(15%);
}

header nav section {
	padding: 2em;
}

header nav section ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2em;
	margin-top: 2em;
}

header nav section a{
	text-decoration: none;
	color: var(--color-text);
	font-size: 1.125em;

}

header nav section ul li {
	list-style-type: none;
}

header nav section summary {
	list-style: none;
	display: flex;
	justify-content: start;
	align-items: center;
}

header nav section summary img {
	width: 1.5em;
	height: 1.5em;
}


footer {
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

footer details:nth-of-type(1) {
	margin-top: 4em;
	/* hier nog extra margin gezet om nog meer ruimte te crearen */
}

footer summary {
	font-size: 1.4375em;
}

footer a {
	text-decoration: none;
	color: var(--color-tekst);
	font-size: 0.875em;
	font-weight: 500;
	margin-top: 2em;
}

footer ul:nth-of-type(1) {
	display: flex;
	flex-direction: row;
	justify-self: start;
	gap: 1em;
}

footer ul li {
	list-style: none;
}

footer ul li a img {
	width: 2.5em;
	height: 2.5em;
}

footer ul:nth-of-type(2) li a {
	text-decoration: none;
	color: var(--color-text);
	font-size: 0.875em;
	font-weight: 500;
	display: flex;
}

footer details summary {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

footer details summary:hover {
	font-size: 1.5em;
}

footer details summary:focus {
	font-size: 1.5em;
}

footer details summary img {
	width: 1em;
	height: 1em;

	transition: .5s;
}

footer details[open] summary img {
	transform:rotate(.5turn);
}

h6 {
	transform:translateY(-9999em);
}

footer ul li a img:hover {
	animation: Springen 2s;
	animation-iteration-count: infinite;
}

@keyframes Springen {
	from {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg)
	}
	to {
		transform: rotate(360deg)
	}
}

main section:nth-of-type(1) a:hover {
	color:var(--color-starlightg);
	border: 0.09375em solid var(--color-starlightg);
	background-color: var(--color-wit);
	
}

main section:nth-of-type(1) a:focus {
	color:var(--color-starlightg);
	border: 0.09375em solid var(--color-starlightg);
	background-color: var(--color-wit);
}

main section:nth-of-type(1) a:active {
	color:var(--color-wit);
	border: 0.09375em solid var(--color-wit);
	background-color: var(--color-starlightg);
}




