@import url("algemeen-style.css");

li {
	list-style: none;
}

main section:nth-of-type(1) {
    gap: 1.5em;
    height: 29em;
	width: 100%;
    background-image: linear-gradient(var(--color-starbucks),var(--color-housegreen));
    display: flex;
	flex-direction: column;
	justify-content: center;
	padding-block: 1em;
}

main section div h1 {
	color:var(--color-wit) ;
	font-size: 1.25em;
	font-weight: 800;
	margin-left: 1em;
	margin-right: 1em;
	letter-spacing: 0.0625em;
}

main section div:first-of-type img {
	width: 9em;
	height: 5em;
}

section div:nth-of-type(1) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: .25em;
	height: 50%;
}

section div:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	justify-content: end;
	gap: 1em;
	height: 50%;
	position: relative;
    bottom: 2em;
}

main section:nth-of-type(1) a {
	color:var(--color-wit);
	text-decoration: none;
	border: 0.09375em solid var(--color-wit);
	border-radius: 6em;
	font-size: .87em;
	font-weight: 600;
	text-align: center;
	width: fit-content;
	margin-left: 1.5em;
	padding: .5em 1em;
}


main img {
	width: 100%;
	height: auto;
}

main section:nth-of-type(2) {
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

main section:nth-of-type(2) h2 {
	color:var(--color-text) ;
	margin-top: 1.5em;
	font-size: 1.69em;
	font-weight: 500;
	letter-spacing: 0.0625em;
}

main section:nth-of-type(3) {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

main section:nth-of-type(3) h2 {
	font-size: 1.1em;
	font-weight: 600;
	margin-top: 5em;
	letter-spacing: .09em;
	color: var(--color-text);
	font-size: 1em;
}


main img:nth-of-type(2) {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 2em;
}

main section ul {
	display: flex;
	flex-direction: column;
	gap: 2em;
}


main li {
	box-shadow: 0.1875em 0.1875em 0.1875em var(--color-warmneutraal);
	margin-left: 1em;
	margin-right: 1em;
	list-style: none;
	padding-bottom: 1em;
	background-color:var(--color-wit);
	display: flex;
	flex-direction: column;
	gap: 1em;
}

main section ul li h3 {
	font-size: 1.25em;
	margin-left: 1em;
	margin-top: 1em;
}

main section ul li p {
	margin-left: 1em;
	margin-right: 1em;
}

main section ul li a {
	margin-left: 1em;
	text-decoration: none;
	color: var(--color-starlightg);
	border: 2px solid var(--color-starlightg);
	border-radius: 3em;
	padding: .5em 1em;
	font-size: 0.875em;
	display: block;
	width: fit-content;
}

main section ul li a:hover {
	color: var(--color-wit);
	border: 2px solid var(--color-wit);
	background-color: var(--color-starlightg);
}

main section ul li a:focus {
	color: var(--color-wit);
	border: 2px solid var(--color-wit);
	background-color: var(--color-starlightg);
}

main section ul li a:active {
	color: var(--color-wit);
	border: 2px solid var(--color-wit);
	background-color: var(--color-starlightg);
}



main li:nth-of-type(1) {
	margin-top: 8em;
}

section:nth-of-type(3) {
	padding: 1em;
}

section:nth-of-type(4) {
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

section:nth-of-type(4) a {
	text-decoration: none;
	color: var(--color-starlightg);
	border: 2px solid var(--color-starlightg);
	border-radius: 3em;
	padding: .5em 1em;
	font-size: 0.875em;
	font-family: SoDoSans,sans-serif;
	display: block;
	width: fit-content;
}

section:nth-of-type(4) a:focus {
	color: var(--color-wit);
	border: 2px solid var(--color-wit);
	background-color: var(--color-starlightg);
}

footer button {
	background-color: #ff6f17;
	/* Ik heb hier express gekozen om een kleur neer te zetten omdat die maar een keer op de light pagina gebruikt word. */
	width: fit-content;
	padding: .5em 1em ;
}